---
import TitlePage from 'src/components/TitlePage.astro';
import Header from '../components/Header/Header.astro';
---
<html>
    <body>
        <Header/>
        <TitlePage />
    </body>
</html>

<style>
    body {
        margin: 0;
        height: auto;
    }
</style>