<body>
    <div class="page">
        <h1> Thorough, Well-Researched, </h1> <br/>
        <h1> In-Depth Lessons </h1>
    </div>
</body>

<style>
    .page {
        height: 40rem;
        width: 100%;
    }

    .page h1 {
        color: #5CC6FF;
    }
</style>