---
import { Icon } from 'astro-icon'
---

<div class="button">
    <h3>Start Here</h3>
    <Icon name="ph:caret-right-duotone" />
</div>

<style> 
    .button {
        background-color: #EB3933;
        height: 4rem;
        display: flex;
        box-shadow: 0.25rem 0.25rem #BA1812;
        align-items: center ;
        width: fit-content;
        border-radius: 0.5rem;
        gap: 0;
        padding-left: 0.5rem;
    }

    h3 {
        color: white;
        font-weight: 800;
		font-size: 1.5rem;
        text-anchor: middle;
        dominant-baseline: middle;
    }

    div:hover {
        background-color: #BA1812;
        box-shadow: 0.25rem 0.25rem #6F0E0B;
    }

    [astro-icon] {
		color: white;
		height: 2rem;
	}
</style>