---
import StartHereButton from "./StartHereButton.astro";

---

<body>
    <div class="page">
        <div class="background">

        </div>
        <div class="titles">
            <h3>A Comprehensive Guide to</h3>
            <h1>Data Structures & Algorithms</h1>
            <h5>Produced by Phillips Academy’s CSC630 Class</h5>
            <a href="/">
                <StartHereButton />
            </a>
        </div>
    </div>
</body>

<style>
    body {
        font-family: "Lato", sans-serif;
    }

    .titles a {
        text-decoration: none;
    }
</style>